body {
  overflow: hidden;
}

canvas {
  display: block;
}

#name {
  position:absolute;
  top:20%;
  left:20%;
  color:black;
  font-family: monospace;
  font-weight: bolder;
  font-size: 15px;
  
}

#result{
  position:absolute;
  top:30%;
  left:40%;
}
